.nav-bar {
  display: flex;
  grid-column: span 3;
}

a:nth-child(1){
  margin-left: 85%;
}

a:nth-child(2) {
  margin-left: auto;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: 60px auto;
}
 
img {
  width: 400px;
  height: auto;
}

