.nav-bar {
  display: flex;
  grid-column: span 3;
}

a:nth-child(1){
  margin-left: 85%;
}

a:nth-child(2) {
  margin-left: auto;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: 60px auto;
}

img {
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  width: 400px;
  height: auto;
}

.drawing {
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 20px;
  padding-right: 10px;
  margin-left: .15in;
  margin-right: .12in;
  margin-bottom: .34in;
}

.drawing:hover {
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, .15);
  cursor: pointer;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#edit{
  background-image: url(https://image.flaticon.com/icons/png/512/46/46395.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  margin-right: 4px;
}

#trash{
  background-image: url(https://ya-webdesign.com/images/edit-delete-icon-png.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none; 
  margin-right: 4px;
}

#close{
  background-image: url(https://cdn3.iconfinder.com/data/icons/status/100/close_1-512.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
}

.info-outer{
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, .2);
}

.info-card {
  width: 500px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 1in;
  padding-right: 15px;
  overflow: auto;
}

.info-card p:nth-child(even){
  width: 179px;
  height: 22px;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.4px;
}

.info-card p:nth-child(odd){
  width: 420px;
  height: 22px;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

.info-card img {
  margin-top: 10px;
}
