.nav-bar {
  display: flex;
  grid-column: span 3; 
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  
  /* -webkit-user-select: none;
  user-select: none; */
}

.nav-bar input{
  display: block;
  width: 40px;
  height: auto;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  /* -webkit-touch-callout: none; */
}

.nav-bar span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #232323;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

.nav-bar span:first-child{
  transform-origin: 0% 0%;
}

.nav-bar :nth-last-child(2){
  transform-origin: 0% 100%;
}

.nav-bar input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}

.nav-bar input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav-bar input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 300px;
  height: 550px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #232323;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

.nav-bar input:checked~ul {
  transform: none;
}

a:nth-child(1) {
  margin-right: 6px;
  color: #cdcdcd;
}

a:nth-child(2) {
  margin-right: 6px;
  color: #cdcdcd;
}

a:hover{
 color: tomato;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: 100px auto;
}

img {
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  width: 400px;
  height: auto;
}

.drawing {
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 20px;
  padding-right: 10px;
  margin-left: .15in;
  margin-right: .12in;
  margin-bottom: .34in;
}

.drawing:hover {
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, .15);
  cursor: pointer;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 3;
}

#edit{
  background-image: url(https://image.flaticon.com/icons/png/512/46/46395.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  margin-right: 4px;
}

#trash{
  background-image: url(https://ya-webdesign.com/images/edit-delete-icon-png.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none; 
  margin-right: 4px;
}

#close{
  background-image: url(https://cdn3.iconfinder.com/data/icons/status/100/close_1-512.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
}

.info-outer{
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 5;
  background-color: rgba(0, 0, 0, .2);
}

.info-card {
  width: 500px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  z-index: 5;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 1in;
  padding-right: 15px;
  overflow: auto;
}

.info-card p:nth-child(even){
  width: 179px;
  height: 22px;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.4px;
}

.info-card p:nth-child(odd){
  width: 420px;
  height: 22px;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

.info-card img {
  margin-top: 10px;
}

